<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GraphiQL</title>
    <meta name="robots" content="noindex" />
    <script src="//cdn.jsdelivr.net/npm/react@16.12.0/umd/react.development.js"></script>
    <script src="//cdn.jsdelivr.net/npm/react-dom@16.12.0/umd/react-dom.development.js"></script>
    <script src="//cdn.jsdelivr.net/npm/graphiql@1.0.5/graphiql.js"></script>
    <link href="//cdn.jsdelivr.net/npm/graphiql@1.0.5/graphiql.css" rel="stylesheet">
    <style>
      body { height: 100%; width: 100%; margin: 0; overflow: hidden; }
      #graphiql { height: 100vh; }
    </style>
  </head>
  <body>
    <div id="graphiql">Loading...</div>
    <script>
      var parameters = {};

      function init() {
        var search = window.location.search;
        search.substr(1).split("&").forEach(function (entry) {
          var eq = entry.indexOf("=");
          if (eq >= 0) {
            parameters[decodeURIComponent(entry.slice(0, eq))] = decodeURIComponent(entry.slice(eq + 1));
          }
        });

        if (parameters.variables) {
          try {
            parameters.variables = JSON.stringify(JSON.parse(parameters.variables), null, 2);
          } catch (e) {}
        }

        if (parameters.headers) {
          try {
            parameters.headers = JSON.stringify(JSON.parse(parameters.headers), null, 2);
          } catch (e) {}
        }
      }

      function updateURL() {
        var newSearch = "?" + Object.keys(parameters).filter(function (key) {
          return Boolean(parameters[key]);
        })
        .map(function (key) {
          return encodeURIComponent(key) + "=" + encodeURIComponent(parameters[key]);
        })
        .join("&");

        history.replaceState(null, null, newSearch);
      }

      function onEditQuery(newQuery) {
        parameters.query = newQuery;
        updateURL();
      }

      function onEditVariables(newVariables) {
        parameters.variables = newVariables;
        updateURL();
      }

      function onEditHeaders(newHeaders) {
        parameters.headers = newHeaders;
        updateURL();
      }

      function onEditOperationName(newOperationName) {
        parameters.operationName = newOperationName;
        updateURL();
      }

      function graphQLFetcher(graphQLParams) {
        var headers = {
          "Accept": "application/json",
          "Content-Type": "application/json",
        };

        if (parameters.headers) {
          var extraHeaders = JSON.parse(parameters.headers);
          for (var headerName in extraHeaders) {
            if (extraHeaders.hasOwnProperty(headerName)) {
              headers[headerName] = extraHeaders[headerName];
            }
          }
        }

        return fetch("/graphql", {
          method: "POST",
          headers: headers,
          body: JSON.stringify(graphQLParams),
          credentials: "omit",
        }).then(function (response) {
          return response.text();
        }).then(function (responseBody) {
          try {
            return JSON.parse(responseBody);
          } catch (error) {
            return responseBody;
          }
        });
      }

      init();

      ReactDOM.render(
        React.createElement(GraphiQL, {
          fetcher: graphQLFetcher,
          query: parameters.query,
          variables: parameters.variables,
          headers: parameters.headers,
          operationName: parameters.operationName,
          onEditQuery: onEditQuery,
          onEditVariables: onEditVariables,
          onEditHeaders: onEditHeaders,
          onEditOperationName: onEditOperationName,
          defaultSecondaryEditorOpen: true,
          headerEditorEnabled: true,
          shouldPersistHeaders: true,
          docExplorerOpen: true,
          editorTheme: "graphiql",
        }),
        document.getElementById("graphiql"),
      );
    </script>
  </body>
</html>
